<footer>
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-column">
                <h4>About</h4>
                <ul>
                    <li>Company</li>
                    <li>Team</li>
                    <li>Careers</li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Support</h4>
                <ul>
                    <li>Help Center</li>
                    <li>Contact Us</li>
                    <li>FAQs</li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Legal</h4>
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms of Service</li>
                    <li>Cookie Policy</li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Subscribe</h4>
                <p>Get the latest updates and offers.</p>
                <form>
                    <input type="email" placeholder="Your email" class="form-control" required>
                    <button type="submit" class="btn btn-outline-danger">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="footer-socials">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="footer-info">
            <p>&copy; 2024 RentEase-Airbnb Private Limited</p>
        </div>
        <div class="footer-links">
            <p>Privacy</p>
            <p>Terms</p>
            <a href="https://github.com/SuyashGaurav" target="_blank">
                <p>Developed by Suyash Gaurav <i class="fa-brands fa-github"></i></p>
            </a>
        </div>
    </div>
</footer>
