<footer>
    <div class="f-info">
        <div class="f-info-socials mt-1">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div><p>&copy;WanderLust-Airbnb Private Limited</p></div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <div class="developer">
                <a href="https://github.com/SuyashGaurav" target="_blank" class="text-dark">
                    <p class="ms-auto">Developed by Suyash Gaurav <i class="fa-brands fa-github"></i></p>
                </a>
            </div>
        </div>
    </div>
</footer>