<% layout('layouts/boilerplate') %>
<body>
  <br><br>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Create a New Listing</h3>
      <form method="POST" action="/listings" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" type="text" class="form-control" placeholder="Enter your title" required/>
          <div class="valid-feedback">Title looks good</div>
          <div class="invalid-feedback">Title should be valid</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
            name="listing[description]"
            class="form-control" required></textarea>
            <div class="valid-feedback">Looks good</div>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
            <input
            name="listing[image]"
            type="text" class="form-control"
            placeholder="Image Link/URL"/>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input name="listing[price]" type="number" class="form-control" placeholder="1000" required/>
              <div class="valid-feedback">Looks good</div>
              <div class="invalid-feedback">Price should be valid</div>
            </div>
            <div class="mb-4 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input name="listing[country]" type="text" class="form-control" placeholder="India" required/>
              <div class="valid-feedback">Looks good</div>
              <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>
       
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
          name="listing[location]"
          type="text" class="form-control"
          required/>
          <div class="valid-feedback">Looks good</div>
          <div class="invalid-feedback">Location should be valid</div>
        </div class="mb-3">

        <button class="btn btn-dark add-btn">Add</button>
      </form>
   </div>
  </div>
  <br><br>
</body>
