body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
    width: 100% !important;
}

.fa-airbnb {
    color: #fe424d;
    font-size: 2.5rem;
    font-weight:bolder !important;
    margin-left: 20px;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info {
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.f-info-links, .f-info-socials {
    width: 100%;
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    object-fit: cover !important;
    height: 20rem;
    width: 30rem;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
    margin-left: 50%;
}

.add-btn:hover {
    background-color: #e71b29 !important;
}

/* Show page */
.listings-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btns {
    display: flex;
    margin-bottom: 25px;
}

.show-card {
    padding: 0;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: left;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 22px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.6s ease-in-out;
}

.star-rating input:checked ~ label { 
    color: #222222;
}

.star-rating input:hover ~ label {
    color: #222222;
}

.review-star{
    margin-left: 0px;
    font-size: 13px;
    color: #222222;
}

.edit-image {
    height: 150px;
    width: 250px;
    border-radius: 5px;
}

#map { 
    height: 350px;
    width: 95vh;
    margin-bottom: 20px;
    margin-top: 20px !important;
    border-radius: 10px !important;
 }

 .marker-div {
    display: inline-block;
    position: relative;
    right: 0px;
    bottom: 30px;
    border-radius: 50%;
    background-color: #e71b29;
    height: 40px;
    width: 40px;
  }

  .inner-div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fe424d;
    z-index: -1;
    opacity: 0.3;
    position: relative;
    bottom: 15px;
    right: 15px;
  }

  .marker {
    font-size: 24px;
    color: white;
    position: absolute;
    top: -1px;
    left: 0.8%;
    transform: translateX(-50%);
    padding: 8px; /* Adjust padding as needed */
    border-radius: 50%; /* Make it circular if desired */
}

.popup-message {
    font-size: 15px; 
}

.mapboxgl-popup-content {
    height: 40px !important;
    width: 285px;
    border-radius: 20px;
    bottom: 50px;
}

.new-listing {
    z-index: 1;
    font-weight:bolder;
    transition: all 0.5s ease-in-out;
}

.new-listing:hover {
    border-radius: 20px;
    background-color: #22222216 !important;   
}

.btn-search {
    border-radius: 1.5rem !important;
    padding: 0px 1rem !important;
}

.btn-search:hover {
    background-color: #fe424d !important;
    color: white !important;
}

.btn-search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search i {
    margin-right: 0.5rem;
}

.inp-search {
    border-radius: 25px !important;
    padding: 0.5rem 3rem !important;
}

/* Filters on index page*/
#filters {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.filter-container {
    display: flex;
    overflow-x: auto;
    width: 60%;
}

.filter-container a {
    text-decoration: none; /* Remove underline from the anchor tag */
    color: #000;
}

.filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 1.5rem;
    opacity: 0.75;
}

.filter p {
    font-size: 0.8rem;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.tax-info {
    display: none;
}

.tax-toggle {
    border: 1px solid #222222;
    border-radius: 1rem;
    height: 3rem;
    padding: 1rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container::-webkit-scrollbar {
    height: 1px;
}

.filter-container::-webkit-scrollbar-thumb {
    width: 1px;
    background-color: #2222223a;
    opacity: 0.3;
}

@media (max-width: 770px){
    .tax-toggle{
        display: none;
    }
    .filter-container{
        width: 100%;
    }
}